.app{
margin: 200px 550px;
}
.passwordForm {
    display: flex;
    flex-direction: column;
}
.passwordForm >input{
    width: 360px;
    height: 44px;
    font-size: 15px;
    padding-left: 18px;
    margin-bottom: 10px;
   
    }
    button {
        width: 388px;
        height: 48px;
        font-size: medium;
        cursor: pointer ;
        margin-bottom: 10px;
    }