.app{
margin: 200px 550px;
}
.passwordForm {
    display: flex;
    flex-direction: column;
}
.passwordForm >input{
    width: 340px;
    height: 43px;
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(128,128,128,0.4);
    }
    button {
        width: 360px;
        height: 46px;
        font-size: medium;
        cursor: pointer ;
        margin-bottom: 10px;
    }